<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2>Cadastro</h2>

<th:block th:if="${sucesso}">
    <h3>Item cadastrado com sucesso.</h3>
</th:block>

<form th:action="@{/q4}" method="post" th:object="${funcionarioForm}">
    Nome: <input type="text" th:field="*{nome}"><br><br>
    Cargo:
    <select th:field="*{cargo}">
        <option value="programador">Programador</option>
        <option value="testador">Testador</option>
        <option value="engenheiro_software">Engenheiro de Software</option>
        <option value="analista_requisitos">Analista de Requisitos</option>
    </select>
    <br><br>
    <fieldset>
        <legend>Tecnologias de Domínio:</legend>
        <div th:each="tecnologia : ${tecnologias}">
            <input type="checkbox" th:field="*{tecnologias}" th:value="${tecnologia}"  />
            <label th:text="${tecnologia}">Tecnologia</label>
        </div>
    </fieldset>
    <br><br>
    <button type="submit">Cadastrar</button>
</form>
<br/>
| <a th:href="@{/}">index</a> |
</body>
</html>